.main {
    padding-top: 5px;
}
.main .agent-box {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: red;
    border: 2px solid aquamarine;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main .agent-box:hover {
    filter: grayscale();
}
.main .agent-box .agent-img {
    padding: 5px;
    background-color: rgb(196, 196, 196);
    background-color: rgb(167, 255, 226);
    border-bottom: 2px solid aquamarine;
}
.main .agent-box .agent-img img {
    /*height: 175px;*/
    height: 140px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main .agent-box .agent-name {
    padding-top: 5px;
    background-color: rgb(105, 105, 105);
    color: white;
    font-size: 20pt;
    font-family: fantasy;
    text-align: left;
}
.main .agent-box .agent-class {
    padding-top: 5px;
    background-color: brown;
}
.main .agent-box .agent-class img {
    height: 30px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}